/*
  red: #FF5349
  blue: #4F80E1
  green: #18CDCA
  gray: #F0F0F1
  purple: #292C44
  black: #302D33
*/

body{
  background-color: #292C44;
  color: #F0F0F1;
}

.card{
  background-color: #F0F0F1;
  color: #302D33;
}

.badge span{
  background-color: #FF5349;
  color: #F0F0F1;
}

.blue{
  background-color: #4F80E1;
}

.red-text{
  color: #FF5349;
}

.light-text{
  color: #F0F0F1;
}
