<article 
  class="card large-padding top-space block swipe todo-card"
  (mousedown)="press = 'down'" 
  (mouseup)="press = 'up'" 
  [@pressAnimation]="press" 
  [@statusAnimation]="todo.status"
  (swipeleft)="complete()"
  >
    <h4>{{todo.content}}</h4>

    <p *ngIf="todo.deadline">
      <i class="fa fa-calendar"></i>
      {{moment.unix(todo.deadline.seconds).fromNow()}}
    </p>

    <p *ngIf="todo.description">{{todo.description}}</p>
</article>
