<todo-creator [id]="listId"></todo-creator>

<div *ngIf="todos | async as todos$;" [@enterState]="todos$.length">
    <div *ngFor="let todo of todos$; trackBy: trackTodoObjects">
        <todo-card [todo]="todo" [listId]="listId"></todo-card>
    </div>
</div>
