/* You can add global styles to this file, and also import other style files */
@import './styles/defaults.css';
@import './styles/colors.css';
@import 'ng-pick-datetime/assets/style/picker.min.css';

.large-padding{
  padding: 10px 15px;
}

.lateral-padding{
  padding: 0 8px;
}

.float-right{
  float: right;
}

.text-right{
  text-align: right;
}

.small-font{
  font-size: 0.8rem;
}

.top-space{
  margin-top: 1em;
}

.overflow-hidden{
  overflow: hidden;
}

.full-width{
  width: 100%;
}

.no-background{
  background: transparent;
}

.relative{
  position: relative;
}

.small-padding{
  padding: 8px;
}

button.no-background, button.card{
  font-size: 1em;
  outline: 0;
  border: 0;
}

button.card:active{
  opacity: 0.8;
}

.pointer{
  cursor: pointer;
}

.card{
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  position: relative;
}

.card.with-badge{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-areas: "title title title title title title title title badge badge";
  align-items: center;
}

.card.with-badge h4{
  grid-area: title;
}

.card.with-badge .badge{
  grid-area: badge;
  display: flex;
  justify-content: flex-end;
}

.card.with-badge .badge span::after{
  content: "";
  position: absolute;
  top: 1em;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: white;
  transform: rotate(30deg);
}

.card.with-badge .badge span::before{
  content: "";
  position: absolute;
  top: 1.7em;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: white;
  transform: rotate(-30deg);
}

.badge span{
  height: 3em;
  width: 3em;
  border-radius: 50%;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.new-list{
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.new-list .plus{
  font-size: 1.5em;
}

.notification-window{
  position: absolute;
  top: 40px;
  right: 0px;
  width: 300px;
  font-size: 0.7em;
  z-index: 100;
}

.my-lists{
  margin-left: 0.3em;
}

.todo-card{
  position: relative;
}

.todo-card::after{
  position: absolute;
  z-index: -1;
  content: '\f00c';
  font-family: FontAwesome;
  top: 50%;
  right: -2em;
  font-weight: 2em;
  color: #18CDCA;
}


.form-control{
  width: 100%;
  outline: 0;
  border: 0;
  display: block;
  padding: 10px 15px;
  margin-top: 1em;
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}

.btn{
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 1em 1.5em;
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.main-nav .float-right a{
  margin-left: 1em;
}

.main-nav a{
  text-decoration: none;
}

.login{
  text-align: center;
  margin-top: 35vh;
}

.push-message{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: #302D33;
  box-sizing: border-box;
  padding: 10px 15px;
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.push-message.visible{
  opacity: 1;
  transform: scale(1);
}