<div *ngIf="listS.lists | async as lists;" class="large-padding" [@enterState]="lists.length">
  <div *ngFor="let list of lists">
    <a routerLink="/lists/{{list.id}}">
      <article class="card block large-padding top-space with-badge">
        <h4>{{list.title}}</h4>
        <div class="badge">
          <span></span>
        </div>
      </article>
    </a>
  </div>
</div>
<div class="badge new-list pointer" routerLink="/new">
  <span class="plus">+</span>
</div>