<nav>
  <a route></a>
</nav>
<nav class="main-nav blue large-padding light-text relative">
  <a routerLink="/">
    <span class="nav-title">What To DO</span>
  </a>

  <div class="notification-window card small-padding" *ngIf="showPanel">
    <div *ngIf="!!(token | async); else activate">
      <p>¿Te gustaría desactivar las notificaciones?</p>
      <button type="button" name="button" (click)="cancelPermission()" class="pointer blue light-text small-padding card">Desactivar</button>
    </div>

    <ng-template #activate>
      <p>¿Te gustaría activar las notificaciones?</p>
      <button type="button" name="button" (click)="requestPushPermission()" class="pointer blue light-text small-padding card">Activar</button>
    </ng-template>
  </div>

  <div class="float-right" *ngIf="afAuth.authState | async" >
    <a (click)="toggleNotificationsWindow()">
      <i class="pointer fa" [ngClass]="{'fa-bell red-text': !!(token | async), 'fa-bell-o' : !(token | async)}"></i>
    </a>
    <a routerLink="/">
      <i class="fa fa-list"></i>
      <span class="small-font my-lists">Mis Listas</span>
    </a>

    <a routerLink="#" (click)="logout()">
      <i class="fa fa-sign-out"></i>
    </a>
  </div>

</nav>
<router-outlet></router-outlet>

<div class="push-message" *ngIf="pushS.notification | async as noti" [ngClass]="{'visible': !!(noti)}" >
  {{ noti.notification.body }}
</div>